.dashboard{
    display: flex;
    min-height: 100vh;
    background: #f5f7fb;
}

.dashboard-content{
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    overflow-x: hidden;
}

.dashboard-row{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    margin-top: 30px;
}

@media(max-width:992px){

    .dashboard-content{
        margin-left: 0;
        padding: 15px;
    }

    .dashboard-row{
        grid-template-columns:1fr;
    }

}