.student-layout{

    display:flex;

    min-height:100vh;

    background:var(--bg);

}

/* Right Area */

.layout-right{

    flex:1;

    margin-left:280px;

    display:flex;

    flex-direction:column;

    min-height:100vh;

    transition:.35s;

}

/* Main */

.layout-content{

    flex:1;

    padding:30px;

    overflow-x:hidden;

}

/* Tablet */

@media(max-width:992px){

.layout-right{

    margin-left:0;

}

.layout-content{

    padding:20px;

}

}

/* Mobile */

@media(max-width:576px){

.layout-content{

    padding:15px;

}

}