
body[data-theme="dark"]{

    --bg:#0b1120;

    --sidebar-bg:#0f172a;

    --sidebar-card:#1e293b;

    --card:#1e293b;

    --navbar:#1e293b;

    --text:#ffffff;

    --text-light:#94a3b8;

    --border:#334155;

     --primary:#6366f1;
    --danger:#ef4444;

     --secondary:#334155; 

}