.ep-history-page{

padding:30px;

min-height:100vh;

background:var(--bg);

animation:fade .5s;

}

.ep-history-header{

margin-bottom:30px;

}

.ep-history-header h1{

font-size:34px;

color:var(--text);

}

.ep-history-header p{

margin-top:8px;

color:var(--text-light);

}

.ep-history-table{

width:100%;

border-collapse:collapse;

background:var(--card-bg);

border-radius:15px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.ep-history-table thead{

background:linear-gradient(90deg,#2563eb,#06b6d4);

color:#fff;

}

.ep-history-table th{

padding:18px;

font-size:15px;

}

.ep-history-table td{

padding:18px;

text-align:start;

border-bottom:1px solid var(--border);

color:var(--text);

}



.pass{

background:#16a34a;

padding:6px 15px;

border-radius:30px;

color:#fff;

font-size:13px;

}

.fail{

background:#dc2626;

padding:6px 15px;

border-radius:30px;

color:#fff;

font-size:13px;

}

.ep-actions{

display:flex;

justify-content:center;

gap:10px;

}

.ep-actions button{

width:40px;

height:40px;

border:none;

border-radius:10px;

cursor:pointer;

background:var(--secondary);

color:var(--text);

transition:.3s;

}

.ep-actions button:hover{

transform:translateY(-4px);

background:#2563eb;

color:#fff;

}

.ep-history-empty{

height:350px;

display:flex;

justify-content:center;

align-items:center;

background:var(--card-bg);

border-radius:15px;

font-size:24px;

color:var(--text-light);

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:900px){

.ep-history-table{

display:block;

overflow:auto;

white-space:nowrap;

}

}